* {
  box-sizing: border-box;
}
.CustomNavbar {
  background-color: #333; /* Customize the background color */
  color: white; /* Customize the text color */
  padding: 10px 0; /* Add padding as needed */
  position: sticky;
  top: 0;
  z-index: 100;
}
