@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  /* overflow: hidden; */
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
/* Hide Scrollbar */
/* Track */
/* ::-webkit-scrollbar {
  width: 0;
}

/* Handle */
/* ::-webkit-scrollbar-thumb {
  background: transparent; /* Make the scrollbar handle transparent */
/* border-radius: 5px; */
/* } */

/* Handle on hover */
/* ::-webkit-scrollbar-thumb:hover { */
/* background: transparent; Make the scrollbar handle transparent on hover */
/* } */

.form-control {
  margin: 0;
  padding: 0.375rem;
}
